<% provide(:title, 'About Us') %>
<html>
<head>
  <title>Sample App | <%= yield(:title) %></title>
</head>
<body>
<h1>Sample App</h1>
<p>
  This is the about us page for the sample application.
</p>
<p>
  About Us
</p>
</body>
</html>